extract_sped/scripts/__pycache__/*

extract_sped/specs/ecd/raw_camelot_csv/*
extract_sped/specs/ecf/raw_camelot_csv/*
extract_sped/specs/efd_icms_ipi/raw_camelot_csv/*
extract_sped/specs/efd_pis_cofins/raw_camelot_csv/*
