sped_extractor/scripts/__pycache__/*

sped_extractor/specs/ecd/raw_camelot_csv/*
sped_extractor/specs/ecf/raw_camelot_csv/*
sped_extractor/specs/efd_icms_ipi/raw_camelot_csv/*
sped_extractor/specs/efd_pis_cofins/raw_camelot_csv/*
